@model List<FeesJoinStudent>

@{
    ViewData["Title"] = "school fees payment";
}

@if(Model.Count ==0)
{
    <div class="flex justify-between font-poppins  bg-zinc-900 py-2 w-full text-yellow-500    px-11   sm:text-[0.81em]   text-[0.61em]
 text-center sm:mb-5 lg:mb-11 ">



        <a class=" text-white  bg-orange-600 px-2 rounded" asp-controller="Students" asp-action="GetStudents"> Students</a>
        <a class=" text-white  bg-orange-600 px-2 rounded     " asp-controller="Students" asp-action="CreateStudent">New Student</a>


     

    </div>
}
else{
<div class="flex   justify-between font-poppins  bg-zinc-900 py-2 w-full text-yellow-500    px-4  m-auto  sm:text-[0.81em]   text-[0.61em]
 text-center  ">
        <a class=" text-white  bg-orange-600 px-2 rounded" asp-controller="Students" asp-action="GetStudents"> Students</a>

    <h4 class=" "> SCHOOL FEES</h4>
    <a class=" text-white  bg-orange-600 px-2 rounded  " asp-controller="Students" asp-action="CreateStudent">New Student</a>  
</div>

    <table class="w-full m-auto text-lime-900  ">
        <thead>
        <tr class=" ">
            <th></th>
            <th>Student</th>
            <th>Amount Paid</th>
            <th> Balance</th>
            <th>Balance Due</th>
            <th>details</th>
        </tr>
    </thead>     
        
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> </td>

                    <td >
                        @item.Student.FirstName  <span class=" px-2 lowercase ">@item.Student.LastName</span>
                    </td>
                    <td>
                        @item.SchoolFees.Amount <span>/=</span>
                    </td>

                    <td>
                        @item.SchoolFees.Balance
                        <span>/=</span>
                    </td>
                    <td>
                        @item.SchoolFees.AmountDue
                        <span>/=</span>
                    </td>
                    <td>
                        <a asp-controller="Students" asp-action="StudentPayments" asp-route-id=" @item.Student.StudentId" class="underline uppercase  underline-offset-2 text-rose-800 text-[0.88em] px-3 ">
                            Ledger
                        </a>
                    </td>

                </tr>}
                
            </tbody>
            </table>
        }