
@model ICollection<Student>

<table class="w-full m-auto text-lime-900  ">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th class="table_hide">Grade</th>
            <th>class</th>
            <th> Section</th>
            <th> Term</th>
            <th> Gender</th>
            <th>Status</th>
            <th class="table_hide"> Residance</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model){
        <tr class="   text-[0.7em] sm:text-[0.99em] ">
            <td>                    @student.StudentId


            </td>
            <td>                
                @student.FirstName
            
            </td>
            <td>                
                @student.LastName
            </td>
            <td class="table_hide">
                
                @student.Grade
            </td>
            <td>                
                @student.Stream
                
            </td>
            <td>
                
                @student.Section
                
            </td>
            <td>
               
                @student.Term
            </td>
            <td>
                
                @student.Gender
            </td>
            <td>
               
                @student.Status
             
            </td>
            <td class="table_hide">
               
                @student.Village
                
            </td>
            <td>
                
                details
                
            </td>
       
         
            
        </tr>
        }
    </tbody>
</table>