@* @{
    ViewData["Title"] = "students list";
} *@

@{

    ViewBag.Title = "Students";
}
@model StudentIndex






    @if(Model.Students.Count ==0)
{



    <div class="flex justify-between font-poppins  bg-zinc-900 py-2 w-full text-yellow-500  font-semibold  px-11   sm:text-[0.81em]   text-[0.61em]
 text-center sm:mb-5 lg:mb-11 ">
        <h4 class=" ">  STUDENT INFORMATION</h4>


        <a class=" text-white  bg-orange-600 px-4 rounded  " asp-controller="Students" asp-action="CreateStudent"> New Student</a>
    </div>
}else{

    <div class="flex justify-between font-poppins  bg-zinc-900 py-2 w-full text-yellow-500  font-semibold  px-11   sm:text-[0.81em]   text-[0.61em]
 text-center ">

        <a class=" text-white  bg-orange-600 px-4 rounded  " asp-controller="Students" asp-action="CreateStudent">New Student</a>

        <h4 class=" ">  STUDENTS</h4>
        <a class=" text-white  bg-orange-600 px-4 rounded  " asp-controller="Students" asp-action="GetStudents">Students</a>
    </div>





    <form method="post" action="SearchStudents" class=" row">

        <div class="flex  bg-black  lg:py-4 py-2 mb-1 justify-between  w-full">

            <div class="find_btn  ">
                <input class="   "
                       value="Search" type="submit" />
            </div>
            <div class=" text-white  flex justify-between   font-semibold  m-auto
text-center   rounded">


                <div class="search_form ">
                    <input placeholder="first name"
                           asp-for="@Model.LookUpStudents.FName"
                           class="  text-black text-center"
                           type="text" />
                </div>

            </div>
            <div class=" text-white  flex justify-between  font-semibold  m-auto
text-center   rounded">
                <div class="search_form">
                    <input asp-for="@Model.LookUpStudents.LName"
                           placeholder="last name"
                           class="  text-center"
                           type="text" />
                </div>

            </div>
            <div class=" text-white hidden lg:flex justify-between   font-semibold  m-auto
text-center   rounded">
                <div class="search_form">
                    <input asp-for="@Model.LookUpStudents.SGrade"
                           placeholder="grade"
                           class="  text-center"
                           type="text" />
                </div>

            </div>
            <div class=" text-white hidden lg:flex justify-between   font-semibold  m-auto
                text-center   rounded">
                <div class="search_form">
                    <input asp-for="@Model.LookUpStudents.Ssection"
                           placeholder="section"
                           class="  text-center"
                           type="text" />
                </div>

            </div>

            <div class=" text-white hidden xl:flex justify-between   font-semibold  m-auto
                text-center   rounded">
                <div class="search_form">
                    <input asp-for="@Model.LookUpStudents.Sstatus"
                           placeholder="status"
                           class="  text-center"
                           type="text" />
                </div>
            </div>


        </div>

    </form>

<table class="w-full m-auto text-lime-900  ">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th class="table_hide">Grade</th>
            <th>class</th>
            <th> Section</th>
            <th> Term</th>
            <th> Gender</th>
            <th>Status</th>
            <th class="table_hide"> Residance</th>
            <th>Actions</th>
             <th>Delete</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students){
        <tr class="text-[0.7em] sm:text-[0.99em] ">
            <td>                    @student.StudentId


            </td>
            <td>
                        <a asp-controller="Students" asp-action="Student" asp-route-id=" @student.StudentId">   @student.FirstName</a>             
            
            </td>
            <td>
                        <a asp-controller="Students" asp-action="Student" asp-route-id=" @student.StudentId">        @student.LastName</a>          
            </td>
            <td class="table_hide">
                        <a asp-controller="Students" asp-action="Student" asp-route-id=" @student.StudentId">
                            @student.Grade
                        </a>
            </td>
            <td>
                        <a asp-controller="Students" asp-action="Student" asp-route-id=" @student.StudentId">           @student.Stream</a>      
                
            </td>
            <td>
                        <a asp-controller="Students" asp-action="Student" asp-route-id=" @student.StudentId">   @student.Section</a>             
               
                
            </td>
            <td>
                        <a asp-controller="Students" asp-action="Student" asp-route-id=" @student.StudentId">          @student.Term</a>
            </td>
            <td>
                        <a asp-controller="Students" asp-action="Student" asp-route-id=" @student.StudentId">
                            @student.Gender
                        </a>              
            </td>
            <td>
                        <a asp-controller="Students" asp-action="Student" asp-route-id=" @student.StudentId">        @student.Status</a>          
             
            </td>
            <td class="table_hide">
                        <a asp-controller="Students" asp-action="Student" asp-route-id=" @student.StudentId">     @student.Village</a>

            </td>
            <td>
                        <a asp-controller="Students" asp-action="StudentPayments" asp-route-id=" @student.StudentId" class="underline uppercase font-semibold underline-offset-2 text-sky-800 text-[0.88em] px-3 ">
                            Details
                        </a>                
            </td>

                    <td>
                        <a asp-controller="Students" asp-action="DeleteStudent" asp-route-id=" @student.StudentId" class=" uppercase bg-red-600 p-1  font-semibold  text-stone-200 text-[0.88em] mt-[2px] rounded  ">
                            Delete
                        </a>
                    </td>


        </tr>
        }
    </tbody>
</table>}