@* @{
    ViewData["Title"] = "students list";
} *@

@{

    ViewBag.Title = "Students";
}
@model StudentIndex






    @if(Model.Students.Count ==0)
{



    <div class="flex justify-between font-poppins  bg-zinc-900 py-2 w-full text-yellow-500    px-11   sm:text-[0.81em]   text-[0.61em]
 text-center sm:mb-5 lg:mb-11 ">
        <h4 class=" ">  STUDENT INFORMATION</h4>


        <a class=" text-white  bg-orange-600 px-4 rounded  " asp-controller="Students" asp-action="CreateStudent"> New Student</a>
    </div>
}else{

    <div class="flex justify-between font-poppins  bg-zinc-900 py-2 w-full text-yellow-500    px-11   sm:text-[0.81em]   text-[0.61em]
 text-center ">

        <a class=" text-white  bg-orange-600 px-4 rounded  " asp-controller="Students" asp-action="CreateStudent">New Student</a>

        <h4 class=" ">  STUDENTS</h4>
        <a class=" text-white  bg-orange-600 px-4 rounded  " asp-controller="Students" asp-action="GetStudents">Students</a>
    </div>





    <form method="post" action="SearchStudents" class=" row font-poppins">

        <div class="flex  bg-black  lg:py-4 py-2 mb-1 justify-between  w-full">

            <div class="find_btn  ">
                <input class="   "
                       value="Search" type="submit" />
            </div>
            <div class=" text-white  flex justify-between     m-auto
text-center   rounded">


                <div class="search_form ">
                    <input placeholder="first name"
                           asp-for="@Model.LookUpStudents.FName"
                           class="  text-black text-center"
                           type="text" />
                </div>

            </div>
            <div class=" text-white  flex justify-between    m-auto
text-center   rounded">
                <div class="search_form">
                    <input asp-for="@Model.LookUpStudents.LName"
                           placeholder="last name"
                           class="  text-center"
                           type="text" />
                </div>

            </div>
            <div class=" text-white hidden lg:flex justify-between     m-auto
text-center   rounded">
                <div class="search_form">
                    <input asp-for="@Model.LookUpStudents.SGrade"
                           placeholder="grade"
                           class="  text-center"
                           type="text" />
                </div>

            </div>
            <div class=" text-white hidden lg:flex justify-between     m-auto
                text-center   rounded">
                <div class="search_form">
                    <input asp-for="@Model.LookUpStudents.Ssection"
                           placeholder="section"
                           class="  text-center"
                           type="text" />
                </div>

            </div>

            <div class=" text-white hidden xl:flex justify-between     m-auto
                text-center   rounded">
                <div class="search_form">
                    <input asp-for="@Model.LookUpStudents.Sstatus"
                           placeholder="status"
                           class="  text-center"
                           type="text" />
                </div>
            </div>


        </div>

    </form>













































































    <div class="flex flex-col">
        <div class="overflow-x-auto pb-4">
            <div class="inline-block min-w-full align-middle">
                <div class="overflow-hidden border border-gray-300 rounded-lg">
                    <table class="min-w-[700px] w-full text-left border-collapse bg-white text-sm font-poppins">
                        <thead class="bg-gray-50 text-gray-900 uppercase text-xs md:text-sm">
                            <tr>
                                <th class="p-2 text-left whitespace-nowrap">Sur Name</th>
                                <th class="p-2 text-left whitespace-nowrap">Last Name</th>
                                <th class="p-2 text-left whitespace-nowrap hidden md:table-cell">Grade</th>
                                <th class="p-2 text-left whitespace-nowrap">Class</th>
                                <th class="p-2 text-left whitespace-nowrap">Section</th>
                                <th class="p-2 text-left whitespace-nowrap">Term</th>
                                <th class="p-2 text-left whitespace-nowrap">Gender</th>
                                <th class="p-2 text-left whitespace-nowrap hidden md:table-cell">Status</th>
                                <th class="p-2 text-left whitespace-nowrap hidden md:table-cell">Residence</th>
                                <th class="p-2 text-left whitespace-nowrap">Details</th>
                                <th class="p-2 text-left whitespace-nowrap">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var student in Model.Students)
                            {
                                <tr class="border-t text-xs sm:text-sm hover:bg-gray-50">
                                    <td class="p-2">
                                        <a asp-controller="Students" asp-action="Student" asp-route-id="@student.StudentId">@student.FirstName</a>
                                    </td>
                                    <td class="p-2">
                                        <a asp-controller="Students" asp-action="Student" asp-route-id="@student.StudentId">@student.LastName</a>
                                    </td>
                                    <td class="p-2 hidden md:table-cell">
                                        <a asp-controller="Students" asp-action="Student" asp-route-id="@student.StudentId">@student.Grade</a>
                                    </td>
                                    <td class="p-2">
                                        <a asp-controller="Students" asp-action="Student" asp-route-id="@student.StudentId">@student.Stream</a>
                                    </td>
                                    <td class="p-2">
                                        <a asp-controller="Students" asp-action="Student" asp-route-id="@student.StudentId">@student.Section</a>
                                    </td>
                                    <td class="p-2">
                                        <a asp-controller="Students" asp-action="Student" asp-route-id="@student.StudentId">@student.Term</a>
                                    </td>
                                    <td class="p-2">
                                        <a asp-controller="Students" asp-action="Student" asp-route-id="@student.StudentId">@student.Gender</a>
                                    </td>
                                    <td class="p-2 hidden md:table-cell">
                                        <a asp-controller="Students" asp-action="Student" asp-route-id="@student.StudentId">@student.Status</a>
                                    </td>
                                    <td class="p-2 hidden md:table-cell">
                                        <a asp-controller="Students" asp-action="Student" asp-route-id="@student.StudentId">@student.Village</a>
                                    </td>
                                    <td class="p-2">
                                        <a asp-controller="Students" asp-action="StudentPayments" asp-route-id="@student.StudentId"
                                           class="p-2 rounded-full bg-white group hover:bg-indigo-600 transition duration-300 flex items-center justify-center">
                                            <svg aria-label="Details" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-indigo-500 group-hover:fill-white" viewBox="0 0 24 24">
                                                <path d="M12 5c-7.633 0-11 7-11 7s3.367 7 11 7 11-7 11-7-3.367-7-11-7zm0 12c-2.761 0-5-2.239-5-5s2.239-5
                                                    5-5 5 2.239 5 5-2.239 5-5 5zm0-8c-1.654 0-3 1.346-3 3s1.346 3
                                                    3 3 3-1.346 3-3-1.346-3-3-3z" />
                                            </svg>
                                        </a>
                                    </td>
                                    <td class="p-2">
                                        <a asp-controller="Students" asp-action="DeleteStudent" asp-route-id="@student.StudentId"
                                           class="p-2 rounded-full bg-white group hover:bg-red-600 transition duration-300 flex items-center justify-center">
                                            <svg aria-label="Delete" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-red-600 group-hover:fill-white" viewBox="0 0 24 24">
                                                <path d="M3 6h18v2H3V6zm2 3h14l-1.5 12.5c-.1.8-.8 1.5-1.6
                                                    1.5H8.1c-.8 0-1.5-.7-1.6-1.5L5 9zm5 2v8h2v-8h-2zm4 0v8h2v-8h-2z" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



}





