@{
    ViewData["Title"] = "student details";
}

@model OdataManager


<div class="flex   justify-between font-poppins  bg-zinc-900 py-2 w-full text-yellow-500  font-bold  px-2 sm:px-4  m-auto  sm:text-[0.81em]   text-[0.61em]
 text-center  ">


    <h4 class=" ">STUDENT DETAILS</h4>

    <a class=" text-white  bg-orange-600 px-2 rounded " asp-controller="Students" asp-action="CreateStudent">
    Add Student
    </a>
</div>
<div class="">
  
    <div >
        <div class="flex   justify-between font-poppins  bg-zinc-900 py-2 w-full text-yellow-500  font-bold  px-2 sm:px-4   m-auto  sm:text-[0.61em] md:text-[0.76em] lg:text-[0.96em]   text-[0.51em]
 text-center  ">
            <a class=" text-white  bg-orange-600 px-2 rounded "
               asp-controller="Students" asp-route-id="@Model.student.StudentId" asp-action="PaySchoolFees">
            School Fees
            </a>
            <a class=" text-white  bg-orange-600 px-2 rounded "
               asp-controller="Students" asp-route-id="@Model.student.StudentId" asp-action="PayRequirement">
        
            Requirements
            </a>
            <a class=" text-white  bg-orange-600 px-2 rounded "
               asp-controller="Students" asp-route-id="@Model.student.StudentId" asp-action="PayUniform">

                Uniform
            </a>
            <a class=" text-white  bg-orange-600 px-2 rounded "
               asp-controller="Academic" asp-route-id="@Model.student.StudentId" asp-action="StoreExamStudent">

                Assessement
            </a>
            <a class=" text-white  bg-orange-600 px-2 rounded "
               asp-controller="Students" asp-route-studentId="@Model.student.StudentId" asp-action="PromoteStudent">
                student info
            
            </a>
            <a class=" text-white  bg-orange-600 px-2 rounded " asp-route-id="@Model.student.StudentId"
               asp-controller="Students" asp-route-id="@Model.student.StudentId" asp-action="CreateGuardian">

       
            Add Guardian
            </a>
        </div>
    </div>


    <div class="mt-1  mx-2 flex flex-col lg:flex-row    justify-between w-full  gap-4">
        <div class="  w-full lg:w-[40%]  ">
         
         
                <div class="    capitalize">
                    <div class="flex pt-2 md:text-[0.7299em]   text-[0.899em] xl:text-[0.99em] ">
                    <img src="/css/assets/avator.png" class="w-[150px] h-[150px] mr-4" />
                        <div class="  grow   ">
                        <div class="flex bg-teal-900 text-yellow-500    ">
                                <p class="w-[33%]  font-normal  ">Name: </p>
                                <p class="grow  ">
                                    @Model.student.FirstName  <span class="px-2">   @Model.student.LastName</span>
                                  
                                </p>
                            </div>
                            <div class="flex  ">
                                <p class="w-[33%]  font-normal">Age: </p>
                                <p class="grow">   @Model.student.Age </p>
                            </div>
                            <div class="flex  ">
                                <p class="w-[33%]  font-normal">Nationality: </p>
                                <p class="">   @Model.student.Nationality </p>
                            </div>
                            <div class="flex  ">
                                <p class="w-[33%] font-normal">Section: </p>
                                <p class="">   @Model.student.Section </p>
                            </div>
                            <div class="flex   ">
                                <p class="w-[33%] font-normal ">Class: </p>
                                <p class="">   @Model.student.Stream</p>
                            </div>
                            <div class="flex   ">
                                <p class="w-[33%]  font-normal">Grade: </p>
                                <p class="data">   @Model.student.Grade</p>
                            </div>
                            <div class="flex   ">
                                <p class="w-[33%]  font-normal ">Term: </p>
                                <p class="">   @Model.student.Term</p>
                            </div>
                            <div class="flex   ">
                                <p class="w-[33%]  font-normal ">Gender: </p>
                                <p class="">   @Model.student.Gender</p>
                            </div>
                            <div class="flex  ">
                                <p class="w-[33%] font-normal ">Status: </p>
                                <p class="">   @Model.student.Status </p>
                            </div>
                            <div class="flex   ">
                                <p class="w-[33%] font-normal ">Contact: </p>
                                <p class="data">   @Model.student.Contact </p>
                            </div>
                            <div class="flex  ">
                                <p class="w-[33%] font-normal ">District: </p>
                                <p class="">   @Model.student.District </p>
                            </div>
                            <div class="flex   ">
                                <p class="w-[33%] font-normal ">Village: </p>
                                <p class="">   @Model.student.Village </p>
                            </div>
                            <div class="flex   ">
                                <p class="w-[33%]  font-normal ">School Fees: </p>
                                <p class="">
                                    @Model.student.SchoolFees
                                    <span>/=</span>
                                </p>
                            </div>
                            <div class="flex ">
                                <p class="w-[33%]  font-normal ">Birth Date: </p>
                                <p class="">   @Model.student.birthDateString </p>
                            </div>
                        </div>
                   
                </div>
            </div>
         
        </div>

        <div class=" mt-1 flex justify-between gap-3 lg:w-[60%]">
            <div class=" w-[50%]  px-3 text-white  bg-teal-900">

                <h4 class=" my-2 text-[0.83em] font-extrabold text-center font-sans ">
                    ACADEMIC SUMMARY
                </h4>
                <div class="flex py-2 justify-between text-yellow-200 w-[95%] m-auto ">
                    <p class=" text-[0.679em] uppercase">Subject </p>
                    <a class="text-white text-[0.679em] hover:text-rose-900 bg-orange-400  px-2  rounded text-center " aria-current="page" asp-controller="Academic" asp-action="getAllAssessements"  asp-route-id="@Model.student.StudentId"> full report</a>


                    <p class="text-[0.679em] uppercase"> Final Score</p>
                </div>
                @foreach (var item in Model.termlyAssessemnts)
                {

                    <div class=" bg-cyan-950 rounded  text-stone-200 ">
    
      
              <div class=" px-2 pt-1 bg-teal-900 pb-1  text-stone-100 w-full lg:text-[0.8299em]  text-[0.699em] " >
                <div class="flex  w-full border-yellow-400 border-2  place-items-center  ">
                  <div class="flex justify-between w-full">
                    <p class="w-[35%]  "> @item.course.Name</p>

                    <p class="w-[10%]">@item.score </p>
                  </div>
                </div>
              </div>
       
      
                             


            </div>}
            </div>
            <div class="mt-1 w-[50%]  px-3  text-white  bg-teal-900">
                <h4 class=" my-2 text-[0.83em] font-extrabold text-center font-sans ">
                    GUARDIANS
                </h4>

                @foreach(var parent in Model.studentGuardians)
                {
                      <div class="rounded  text-yellow-300  std_details">
 <div class="my-4 pl-2  rounded  lg:text-[0.8199em]  text-[0.799em] border-2 border-yellow-500   w-full  "
              >
                <div class="flex justify-between  ">
                  <p class="w-[33%]  font-normal  ">Name </p>
                  <p class="grow  ">
                                @parent.FirstName
                                <span class="px-2">@parent.LastName</span>
                  </p>
                </div>
                <div class="flex   ">
                  <p class="w-[33%]  font-normal">Contact </p>
                            <p class="data">@parent.Contact </p>
                </div>
                <div class="flex   ">
                  <p class="w-[33%] ">Email </p>
                            <p class="data">@parent.Email </p>
                </div>
                <div class="flex  ">
                  <p class="w-[33%] ">Village </p>
                            <p class="data">@parent.Village </p>
                </div>
                <div class="flex   ">
                  <p class="w-[33%]  ">District: </p>
                            <p class="data">@parent.District </p>
                </div>

                <div class="flex w-full  ">
                  <p class="w-[33%]">Role </p>
                            <p class="data">@parent.Relationship </p>
                </div>
              </div>
         
          
        </div>
                }




              
            </div>
        </div>
    </div>
</div>