@{
    ViewData["Title"] = "staff members";
}


@model ICollection<Staff>
@if(Model.Count ==0)
{
    <div class="flex justify-between font-poppins  bg-zinc-900 py-2 w-full text-yellow-500  font-bold  px-11   sm:text-[0.81em]   text-[0.61em]
 text-center sm:mb-5 lg:mb-11 ">

        <a class=" text-white  bg-orange-600 px-4 rounded w-[40%] m-auto     " asp-controller="Staffs" asp-action="Create">Click to Add Staff....</a>
    </div>
}else{

<table class="w-full m-auto text-lime-900  ">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th> Category</th>
            <th>Job Title</th>
            <th>Contact</th>
            <th> Gender</th>
            <th> Status</th>
            <th> Residance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var staff in Model)
        {
            <tr class="   text-[0.7em] sm:text-[0.99em] ">
                <td>
                    @staff.StaffId


                </td>
                <td>
                    @staff.FirstName

                </td>
                <td>
                    @staff.LastName
                </td>
                <td class="table_hide">

                    @staff.Category
                </td>
                <td>
                    @staff.Contact

                </td>
                <td>

                    @staff.Gender

                </td>
                <td>

                    @staff.Status
                </td>
                <td>

                    <span class="px-2">@staff.Village</span>
                    <span class="px-2">,@staff.District</span>

                </td>
                <td>

                    @staff.Status

                </td>
                <td class="table_hide">

                    @staff.Village

                </td>
                <td>

                    details

                </td>



            </tr>
        }
    </tbody>
</table>}