@{
    ViewData["Title"] = "staff members";
}


@model StaffIndex
@if(Model.Staffs.Count ==0)
{
    <div class="flex justify-between font-poppins  bg-zinc-900 py-2 w-full text-yellow-500  font-bold  px-11   sm:text-[0.81em]   text-[0.61em]
 text-center sm:mb-5 lg:mb-11 ">

        <h4 class=" ">  STAFF INFORMATION</h4>



        <a class="text-white  bg-orange-600 px-4 rounded" asp-controller="Staffs" asp-action="Create">New Staff</a>
    </div>
}else{

    <div class="flex justify-between font-poppins  bg-zinc-900 py-2 w-full text-yellow-500  font-bold  px-11   sm:text-[0.81em]   text-[0.61em]
 text-center ">

        <a class=" text-white  bg-orange-600 px-4 rounded  " asp-controller="Students" asp-action="GetStudents">Students</a>

        <h4 class=" ">  STAFF MEMBERS</h4>
     

        <a class="text-white  bg-orange-600 px-4 rounded " asp-controller="Staffs" asp-action="Create">New Staff</a>
    </div>



    <form method="post" action="SearchStaff" class="  row">


    <div class="flex  bg-black  lg:py-4 py-2 mb-1 justify-between  w-full">



                <div class="find_btn  ">
                    <input class="   "
                           value="Search " type="submit" />
                </div>
        <div class=" text-white  flex justify-between   font-bold  m-auto
text-center   rounded">


            <div class="search_form ">
                <input placeholder="first name"
                       asp-for="@Model.LookUpStaff.FName"
                       class="  text-black text-center"
                       type="text" />
            </div>

        </div>
        <div class=" text-white  flex justify-between  font-bold  m-auto
text-center   rounded">
            <div class="search_form">
                <input asp-for="@Model.LookUpStaff.LName"
                       placeholder="last name"
                       class="  text-center"
                       type="text" />
            </div>

        </div>
        <div class=" text-white hidden lg:flex justify-between   font-bold  m-auto
text-center   rounded">
            <div class="search_form">
                <input asp-for="@Model.LookUpStaff.SCategory"
                       placeholder="category"
                       class="  text-center"
                       type="text" />
            </div>

        </div>
        <div class=" text-white hidden lg:flex justify-between   font-bold  m-auto
                text-center   rounded">
            <div class="search_form">
                <input asp-for="@Model.LookUpStaff.SJobTitle"
                       placeholder="Job Title"
                       class="  text-center"
                       type="text" />
            </div>

        </div>

        <div class=" text-white hidden xl:flex justify-between   font-bold  m-auto
                text-center   rounded">
            <div class="search_form">
                <input asp-for="@Model.LookUpStaff.Sstatus"
                       placeholder="status"
                       class="  text-center"
                       type="text" />
            </div>
        </div>

       
    </div>

    </form>

<table class="w-full m-auto text-lime-900  ">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th> Category</th>
            <th>Job Title</th>
            <th>Contact</th>
            <th> Gender</th>
            <th> Status</th>
                <th class="table_hide"> Residance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var staff in Model.Staffs)
        {
            <tr class="   text-[0.7em] sm:text-[0.99em] ">
                <td>
                    @staff.StaffId
                </td>
                <td>
                        <a asp-controller="Staffs" asp-action="Staff" asp-route-id=" @staff.StaffId">   @staff.FirstName</a>
                    </td>
                <td>
                        <a asp-controller="Staffs" asp-action="Staff" asp-route-id=" @staff.StaffId">    @staff.LastName</a>                 
                </td>
                <td class="">
                        <a asp-controller="Staffs" asp-action="Staff" asp-route-id=" @staff.StaffId">
                            @staff.Category
                        </a>
                </td>
                    <td>
                        <a asp-controller="Staffs" asp-action="Staff" asp-route-id=" @staff.StaffId">        @staff.JobTitle</a>

                    </td>
                <td>
                        <a asp-controller="Staffs" asp-action="Staff" asp-route-id=" @staff.StaffId">        @staff.Contact</a>              

                </td>
                <td>
                        <a asp-controller="Staffs" asp-action="Staff" asp-route-id=" @staff.StaffId">
                            @staff.Gender
                        </a>
                </td>
                <td>
                        <a asp-controller="Staffs" asp-action="Staff" asp-route-id=" @staff.StaffId">   @staff.Status </a>
                 
                </td>
                    <td class="table_hide">
                        <a asp-controller="Staffs" asp-action="Staff" asp-route-id=" @staff.StaffId">
                            <span class="">@staff.Village</span>
                            <span class="pl-2">,@staff.District</span>
                        </a>               

                </td>  

                            </tr>
        }
    </tbody>
</table>}